$theme-colors: (
    "primary": #84A98C,
    "secondary":  #F28F3B,
    "black": #1e1e1f,
    "green": #84A98C,
    "grey": #6a6a6a,
    "lightGrey": #c1c1c1,
    "offWhite": #f5f5f5,
    "offBlack": #1d1d1d,
    "orange": #F28F3B,
    "pink": #FFD5C2,
    "red": #C8553D,
);

$link-hover-color: #6a6a6a;
$link-color: #1e1e1f !default;
$font-family-sans-serif: 'Raleway', sans-serif;

// Required
@import "../node_modules/bootstrap/scss/bootstrap"